
<% month.first_week_days.each do |day| %>
    <li class="day">
      <div class="date" id="day-<%= day%>"><%= day %></div>
      <%= link_to 'New', new_month_task_path(month, day), class: 'new-task' %>

    </li>
<% end %>


<% month.middle_week_days.each do |week_days| %>

    <% week_days.each do |day| %>
      <li class="day">
        <div class="date" id="day-<%= day%>"><%= day %></div>
        <%= link_to 'New', new_month_task_path(month, day), class: 'new-task' %>
      </li>
    <% end %>

<% end %>


<% month.last_week_days.each do |day| %>
 <li class="day">
   <div class="date" id="day-<%= day%>"><%= day %></div>
   <%= link_to 'New', new_month_task_path(month, day), class: 'new-task' %>
 </li>
<% end %>
