
<% month.first_week_days.each do |day| %>
    <li class="day">
      <div class="date"><%= day %></div>
      <%= new_task_form(month, day) %>
      <%= task_for_day(month, day) %>
      <%= more_tasks(month, day) %>
    </li>
<% end %>


<% month.middle_week_days.each do |week_days| %>

    <% week_days.each do |day| %>
      <li class="day">
        <div class="date"><%= day %></div>
        <%= new_task_form(month, day) %>
        <%= task_for_day(month, day) %>
        <%= more_tasks(month, day) %>
      </li>
    <% end %>

<% end %>


<% month.last_week_days.each do |day| %>
 <li class="day">
   <div class="date"><%= day %></div>
   <%= new_task_form(month, day) %>
   <%= task_for_day(month, day) %>
   <%= more_tasks(month, day) %>
 </li>
<% end %>
