<div id="calendar-wrap">
  <header>
    <h1 class="month-name" data-id="<%= @month.id %>">
      <%= month_header(@month) %>
    </h1>
  </header>
  <div id="calendar">
    <div id="page-form"></div>
    <ul class="weekdays">
        <li>Sunday</li>
        <li>Monday</li>
        <li>Tuesday</li>
        <li>Wednesday</li>
        <li>Thursday</li>
        <li>Friday</li>
        <li>Saturday</li>
    </ul>
    <ul class= 'days'>
      <%= render partial: 'months/days', locals: {month: @month} %>
    </ul>
  </div><!-- /. calendar -->
</div><!-- /. wrap -->
<script id="form-template" type="text/x-handlebars-template">
  <div id="month-page-form">
    <a id="close-form" href="#">x</a>
    <div class="forms">
      <%= form_for([@month, @task]) do |f| %>
        <%= render partial: 'tasks/form', locals: {month: @month, task: @task, f: f} %>
      <%end%>
    </div>
  </div>
</script>