<% if task.errors.any? %>
  <div id="error_explanation">
    <h3>
      <%= pluralize(task.errors.count, "error") %>
      prohibited this product from being saved:
    </h3>

   <ul>
    <% task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="field <%= 'field_with_errors' if task.errors[:content].any? %>">
  <%= f.label :content %></br>
  <%= f.text_field :content %></br>
</div>

<div class="field <%= 'field_with_errors' if task.errors[:start_time].any? %>" id='time' >
  <%= f.label :start_time %></br>
  <%= select_time Time.now, ampm: true %></br>
</div>
<%= f.fields_for :month do |task_month|%>
  <div class="field <%= 'field_with_errors' if task.errors[:start_time].any? %>">
    <%= task_month.label :year %>
    <%= select_year month.to_time %></br>
  </div>

  <div class="field <%= 'field_with_errors' if task.errors[:start_time].any? %>">
    <%= task_month.label :month %>
    <%= select_month month.to_time %></br>
  </div>

  <div class="field <%= 'field_with_errors' if task.errors[:start_time].any? %>">
    <%= task_month.label :days %>
    <%= select_day task.start_time %></br>
  </div>
<% end %>

<%= content_tag :div, class: 'actions' do %>
<%= f.submit %></br>
<% end %>
