<header>
  <h1><%= "#{@month.name} #{@task.start_time.day} #{@month.year}" %> </h1>
</header>

<div class="task-show">
  <p><%= "#{@task.start_time.strftime('%b %e, %l:%M %p')}" %></p>
  <p id='task-content'><%= "#{@task.content}" %></p>
  <%= link_to 'Edit', edit_month_task_url(@month, @task), id: 'edit' %>
  <div id = 'delete'><%= link_to 'Delete', month_task_path(@month, @task), method: :delete, data: { confirm: 'Are you sure?' } %></div>
</div>
