
<div id="mytopnav">
  <nav >
    <ul>
      <% if logged_in? %>
        <li style="float:left"><%= link_to 'Last Month', prev_month_path(@month), class: "js-next", id: 'prev'%></li>
        <li class='dropdown'>
          <a href="javascript:void(0)" class="dropbtn"><%= current_user.username %></a>
          <div class="dropdown-content">
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
          </div>
        </li>
        <li class='dropdown'>
          <div class="dropbtn"><%= link_to 'Today', '/' %></div>
          <div class="dropdown-content">
            <%= link_to 'All Tasks', month_tasks_path(@month), id: 'alltasks' %>
            <%= link_to 'Upcoming', upcoming_path, class: 'get-tasks' %>
            <%= link_to 'Overdue', overdue_path, class: 'get-tasks' %>
          </div>
        </li>
        <li style"float:right"><%= link_to 'New Task', new_month_task_path(@month), id: 'new-task-link' %></li>
        <li style="float:right"><%= link_to 'Next Month', next_month_path(@month), class: "js-next", id: 'next' %></li>
      <%else%>
        <li><%= link_to "Sign in", new_user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
      <% end %>
    </ul>
  </nav>
</div>
